[submodule "packages/do"]
  path = packages/do
  url = https://github.com/ilharp/do.git
[submodule "packages/libb64"]
  path = packages/libb64
  url = https://github.com/ifrstr/libb64-cmake.git
[submodule "packages/systray"]
  path = packages/systray
  url = https://github.com/ilharp/systray.git
[submodule "packages/nlohmann_json"]
  path = packages/nlohmann_json
  url = https://github.com/nlohmann/json.git
